In [1]:
import pandas as pd

In [9]:
path = "athlete_events.csv"

In [54]:
data = pd.read_csv(path)
data[(data['Year'] == 2000) & (data['Sport'] == 'Gymnastics')]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
437,244,Raouf Abdelraouf,M,22.0,167.0,63.0,Egypt,EGY,2000 Summer,2000,Summer,Sydney,Gymnastics,Gymnastics Men's Individual All-Around,NaN
438,244,Raouf Abdelraouf,M,22.0,167.0,63.0,Egypt,EGY,2000 Summer,2000,Summer,Sydney,Gymnastics,Gymnastics Men's Horse Vault,NaN
439,244,Raouf Abdelraouf,M,22.0,167.0,63.0,Egypt,EGY,2000 Summer,2000,Summer,Sydney,Gymnastics,Gymnastics Men's Parallel Bars,NaN
440,244,Raouf Abdelraouf,M,22.0,167.0,63.0,Egypt,EGY,2000 Summer,2000,Summer,Sydney,Gymnastics,Gymnastics Men's Rings,NaN
441,244,Raouf Abdelraouf,M,22.0,167.0,63.0,Egypt,EGY,2000 Summer,2000,Summer,Sydney,Gymnastics,Gymnastics Men's Pommelled Horse,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270485,135291,Roman Volodymyrovych Zozulia,M,21.0,164.0,59.0,Ukraine,UKR,2000 Summer,2000,Summer,Sydney,Gymnastics,Gymnastics Men's Horse Vault,NaN
270486,135291,Roman Volodymyrovych Zozulia,M,21.0,164.0,59.0,Ukraine,UKR,2000 Summer,2000,Summer,Sydney,Gymnastics,Gymnastics Men's Parallel Bars,NaN
270487,135291,Roman Volodymyrovych Zozulia,M,21.0,164.0,59.0,Ukraine,UKR,2000 Summer,2000,Summer,Sydney,Gymnastics,Gymnastics Men's Horizontal Bar,NaN
270488,135291,Roman Volodymyrovych Zozulia,M,21.0,164.0,59.0,Ukraine,UKR,2000 Summer,2000,Summer,Sydney,Gymnastics,Gymnastics Men's Rings,NaN
270489,135291,Roman Volodymyrovych Zozulia,M,21.0,164.0,59.0,Ukraine,UKR,2000 Summer,2000,Summer,Sydney,Gymnastics,Gymnastics Men's Pommelled Horse,NaN

1. How old were the youngest male and female participants of the 1996 Olympics?

In [19]:
data[(data['Year'] == 1996) & (data['Sex'] == 'M')]['Age'].min()

14.0

In [20]:
data[(data['Year'] == 1996) & (data['Sex'] == 'F')]['Age'].min()

12.0

2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.

In [63]:
data2 = data[(data['Sex'] == 'M') & (data['Year'] == 2000)].drop_duplicates(subset = 'Name')
gym = data2[(data2['Sport'] == 'Gymnastics')].shape[0]
alll = data2.shape[0]
round(gym/alll * 100, 1)

1.5

3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics?

In [74]:
data2 = data[(data['Sex'] == 'F') & (data['Year'] == 2000) & 
             (data['Sport'] == 'Basketball')].drop_duplicates(subset = 'Name')
round(data2['Height'].mean(), 1)

182.4

In [72]:
round(data2['Height'].std(), 1)

9.1

4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?

In [76]:
data2 = data[(data['Year'] == 2002)].drop_duplicates(subset = 'Name')
data2[(data2['Weight'] == data2['Weight'].max())]['Sport']

99154    Bobsleigh
Name: Sport, dtype: object

5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?

In [79]:
data[(data['Name'] == 'Pawe Abratkiewicz')].drop_duplicates(subset = 'Year').shape[0]

3

6. How many silver medals in tennis did Australia win at the 2000 Olympics?

In [81]:
data[(data['Team'] == 'Australia') & (data['Year'] == 2000) & (data['Medal'] == 'Silver') & 
    (data['Sport'] == 'Tennis')].shape[0]

2

7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in Medal column.

In [83]:
swtz = data[(data['Year'] == 2016) & (data['Team'] == 'Switzerland') &
    (data['Medal'].isnull() == False)].shape[0]
serb = data[(data['Year'] == 2016) & (data['Team'] == 'Serbia') &
    (data['Medal'].isnull() == False)].shape[0]
swtz < serb

True

8. What age category did the fewest and the most participants of the 2014 Olympics belong to?
[45-55] and [25-35) correspondingly
[45-55] and [15-25) correspondingly
[35-45] and [25-35) correspondingly
[45-55] and [35-45) correspondingly

In [95]:
data2 = data[(data['Year'] == 2014)]
fr15to25 = data2[(data2['Age'] >= 15) & (data2['Age'] < 25)].shape[0]
fr25to35 = data2[(data2['Age'] >= 25) & (data2['Age'] < 35)].shape[0]
fr35to45 = data2[(data2['Age'] >= 35) & (data2['Age'] <= 45)].shape[0]
fr45to55 = data2[(data2['Age'] >= 45) & (data2['Age'] <= 55)].shape[0]
categories = {'[15-25)':fr15to25, 
              '[25-35)':fr25to35,
              '[35-45]':fr35to45, 
              '[45-55]':fr45to55}
mi = min(categories.values())
ma = max(categories.values())
for k, v in categories.items():
    if v == mi:
        print('fewest =', k)
    elif v == ma:
        print('most =', k)

most = [25-35)
fewest = [45-55]

9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?

In [97]:
if data[(data['Season'] == 'Summer') & (data['City'] == 'Lake Placid')].shape[0] > 0:
    print('Yes')
else:
    print('No')

No

In [99]:
if data[(data['Season'] == 'Winter') & (data['City'] == 'Sankt Moritz')].shape[0] > 0:
    print('Yes')
else:
    print('No')

Yes

10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?

In [104]:
y1995 = data[(data['Year'] == 1995)].drop_duplicates(subset = 'Sport').shape[0]
y2016 = data[(data['Year'] == 2016)].drop_duplicates(subset = 'Sport').shape[0]
y2016 - y1995

34